:root {
  --shade-yellow: #f8e16c;
  --medium-green: #06a04b;
  --bluish-green: #156064;
  --orange-red: #e75019;
  --pink: #ffc2b4;
  --white: #fff;
  --black: #0000009f;
  --gray: #d4d2d266;
  --neutral-shade: #f8f8ed;
  --red-opaque: #fd65652a;
}

main {
  width: 100%;
  height: 100vh;
  color: var(--white);
  background: linear-gradient(to right, rgba(1, 35, 7, 0.8) 0%, rgba(87, 76, 6, 0.8) 100%), url(../../images/accueil_background_image.jpg) no-repeat;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}
header .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header .menu {
  display: none;
}
header .header .menu .menu-icons {
  width: 50px;
  text-align: center;
  padding: 10px 10px;
  color: var(--bluish-green);
  background-color: var(--shade-yellow);
}
header .header .menu .menu-container {
  position: absolute;
  top: 70px;
  right: 0.5px;
  width: 100%;
  transition: 1s;
  margin-top: -200%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
}
header .header .menu .menu-container ul {
  width: 100%;
}
header .header .menu .menu-container ul li {
  list-style: none;
  color: var(--bluish-green);
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 1.5px 0.5px rgba(1, 35, 7, 0.8);
}
header .header .menu .menu-container ul li a {
  color: rgba(1, 35, 7, 0.8);
  text-decoration: none;
  font-weight: bolder;
}
header .header .menu .menu-container ul li a:hover {
  color: var(--shade-yellow);
}
header .logo img {
  width: 8rem;
}
header .header-items ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  -webkit-column-gap: 20px;
}
header .header-items ul a {
  color: var(--white);
}
header .header-color {
  transition: 2s;
  background: linear-gradient(to right, rgba(1, 35, 7, 0.8) 0%, rgba(87, 76, 6, 0.8) 100%);
}

.cover-page-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-page-content .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cover-page-content .content p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.cover-page-content .content img {
  width: 15rem;
  border-radius: 10px;
}
.cover-page-content .content .second-image {
  margin-top: -120px;
  margin-left: 50px;
}
.cover-page-content button {
  color: var(--white);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  background: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid var(--white);
}
.cover-page-content button:hover {
  transition: 1s;
  border: 2px solid var(--shade-yellow);
  color: var(--bluish-green);
  background-color: var(--shade-yellow);
}

footer {
  padding-top: 30px;
  padding-bottom: 15px;
  color: var(--white);
  background: linear-gradient(to right, rgba(1, 35, 7, 0.8) 0%, rgba(87, 76, 6, 0.8) 100%);
}
footer h4 {
  margin-bottom: 25px;
}
footer a {
  color: var(--white);
}
footer .footer-content {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  gap: 150px;
  -webkit-column-gap: 150px;
}
footer .medias-sociaux {
  margin-top: 20px;
  text-align: right;
}
footer .medias-sociaux a {
  color: var(--white);
}
footer .medias-sociaux i {
  border-radius: 50%;
  padding: 12px 13px;
  color: var(--white);
  background-color: var(--gray);
}
footer .copyright {
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray);
  font-size: 0.9rem;
  text-align: center;
}
footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-top: -25px;
}
footer .top i {
  color: var(--white);
  padding: 13px 15px;
  border-radius: 100%;
  background-color: var(--gray);
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

section {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}

.apropos h3 {
  margin-bottom: 10px;
  color: var(--bluish-green);
}
.apropos h5 {
  width: 100px;
  margin-bottom: 10px;
  border-bottom: 4px solid var(--shade-yellow);
}
.apropos .apropos-items {
  display: flex;
  align-items: center;
  gap: 30px;
  -webkit-column-gap: 30px;
}
.apropos .apropos-items i {
  font-size: 30px;
  font-style: italic;
  color: var(--bluish-green);
}
.apropos .apropos-items img {
  width: 35rem;
}

/*--------------------------*/
/*--------------------------*/
.fonctionnalite-salama {
  margin-top: 20px;
}
.fonctionnalite-salama h3 {
  margin-bottom: 10px;
  color: var(--bluish-green);
}
.fonctionnalite-salama h5 {
  width: 100px;
  margin-bottom: 10px;
  border-bottom: 4px solid var(--shade-yellow);
}
.fonctionnalite-salama .fonctionnalite-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  -webkit-column-gap: 10px;
}
.fonctionnalite-salama .fonctionnalite-content div {
  padding: 15px 20px;
}

/*--------------------------*/
/*--------------------------*/
.advantages-salama {
  margin-top: 20px;
  text-align: center;
}
.advantages-salama h2 {
  margin-top: 10px;
  color: var(--bluish-green);
}
.advantages-salama .advantages-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
  -webkit-column-gap: 20px;
}
.advantages-salama .advantages-content div h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--bluish-green);
}
.advantages-salama .advantages-content div i {
  border-radius: 50%;
  padding: 19px 20px;
}

/*--------------------------*/
/*--------------------------*/
.contactez-nous h3 {
  margin-bottom: 10px;
  color: var(--bluish-green);
}
.contactez-nous h5 {
  width: 100px;
  margin-bottom: 10px;
  border-bottom: 4px solid var(--shade-yellow);
}
.contactez-nous .contact-container {
  width: 100%;
  display: flex;
  gap: 40px;
  padding-bottom: 15px;
  -webkit-column-gap: 80px;
}
.contactez-nous .contact-container .bloc-contact .items {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-column-gap: 10px;
  margin-top: 15px;
}
.contactez-nous .contact-container .bloc-contact .items p {
  font-size: 0.8rem;
}
.contactez-nous .contact-container .bloc-contact .items i {
  padding: 15px;
  border-radius: 50%;
  color: var(--bluish-green);
  background-color: var(--gray);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.interne-marge {
  padding: 10px 80px;
}

input,
textarea,
button {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.contact-form {
  flex-grow: 1;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form div {
  margin-top: 15px;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 15px 15px;
  border-radius: 4px;
  border: 0.1rem solid var(--gray);
}
.contact-form form .form-input {
  gap: 10px;
  -webkit-column-gap: 10px;
  display: flex;
}
.contact-form form button {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  padding: 15px 40px;
  color: var(--white);
  font-weight: 600;
  border-radius: 25px;
  background-color: var(--bluish-green);
}/*# sourceMappingURL=accueil.css.map */