@use '../utils/' as u;
@use '../utils/mixins' as *;
// Base reset
*,
::after,
 ::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

//FORMULAIRE FOR CONTACT US