@use '../utils/' as u;

@include u.breakpoint(laptop){

    header{
        .header{
            .header-items{
                display: none;
            }
            .menu{
                display: initial;
                .menu-icons .icon{
                    display: block;
                    cursor: pointer;
                }
                .menu-icons .exit{
                    display: none;
                    cursor: pointer;
                }
                .menu-mobile .icon{
                    display: none;
                }
                .menu-mobile .exit{
                    display: initial;
                }
                .menu-mobile{
                    margin-top: 0;
                }
            }
        }
    }

    .cover-page-content{
        .content{
            .images{
                display: none;
            }
        }
    }

    .apropos{
        .apropos-items{
            display: flex;
            flex-direction: column;
        }
    }

    .fonctionnalite-salama, .advantages-salama{
        .fonctionnalite-content, .advantages-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .salama-app{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        -webkit-column-gap: 20px;
        justify-content: initial;
    }

    footer{
        .footer-content{
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px;
        }
    }
}

@include u.breakpoint(tablet){
    header{
        .header{
            padding: 6px 25px;
        }
    }
    .apropos, .fonctionnalite-salama, .advantages-salama, 
    .cover-page-content, .contactez-nous, footer{
        padding: 20px 40px;
    }

    @media screen and (max-width: 600px){
        .apropos{
            .apropos-items{
                img{
                    width: 100%;
                }
            }
        }

        form{
            .formulaire{
                display: flex;
                flex-direction: column;
                gap: 8px;
                -webkit-column-gap: 8px;
            }
        }
    }

    @media screen and (max-width: 530px){
        .fonctionnalite-salama{
            .fonctionnalite-content{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

@include u.breakpoint(mobile){
    .cover-page-content{
        .content{
            .items{
                text-align: center;
            }
        }
    }
    
    .fonctionnalite-salama, .advantages-salama{
        .fonctionnalite-content, .advantages-content{
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    footer{
        .footer-content{
            display: grid;
            grid-template-columns: auto;
            gap: 50px;
        }
    }

    header{
        .header{
            padding: 6px 12px;
        }
    }
    .apropos, .fonctionnalite-salama, .advantages-salama, 
    .cover-page-content, .contactez-nous, footer{
        padding: 20px 20px;
    }

    .salama-app{
        .salama-applications{
            display: flex;
            flex-direction: column;
            div{
                width: 100%;
            }
        }
    }
}